<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://scontent.fscl18-1.fna.fbcdn.net/v/t1.6435-9/62065050_2271235223114603_6847296541300883456_n.png?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=4NzsM3xWnJAAX_DXcvC&tn=kSwPektmyH6UqBWj&_nc_ht=scontent.fscl18-1.fna&oh=00_AT-NKowTpb5ZrbMO4du7YUVQJJsX-xDm3lYnL4NwEwEw4A&oe=621848ED" %>
      <% if user_signed_in? %>
        <%= "Hola #{current_user.email} "%>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Todos los artículos", articles_path, class: "btn btn-sm btn-outline-secondary form-search mr-4 mt-1 color-white" %>

    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://scontent.fscl18-1.fna.fbcdn.net/v/t1.18169-9/21739995_10212821567427359_6761136772421599933_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=SweUUmHlyPEAX8pzYKU&_nc_ht=scontent.fscl18-1.fna&oh=00_AT-oCjw0cdgl8a2qVWHMaj8LXNUMTVk8iKumn4zdqTeZmA&oe=6216A646", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Todos los artículos", articles_path, class: "dropdown-item" %>
              <% if current_user.admin? %>
                <%= link_to "Nuevo Artículo", new_article_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <%= image_tag "https://img2.freepng.es/20180525/vjx/kisspng-computer-icons-user-profile-user-account-clip-art-5b07b23ad4dd52.9335900715272310348719.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Ingresar", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Crea tu usuario", new_user_registration_path, class: "dropdown-item" %>
          </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
